*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
.container-1{
    width: 100vw;
    padding: 0.7rem;
    display: flex;
    flex-direction: row;
    /* border: 1px solid green; */
}
.container-sub-1{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid blue; */
}
.container-sub-1-of-sub-1{
    box-sizing: border-box;
    padding: 0.5rem;
}
#choose{
  width: 7.5rem;
}
.container-sub-2{
    width: 50%;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid palegreen; */
}

.whatsapp-fundraiser-sign{
    width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid rgb(16, 10, 93); */
}
.sub-2-whatsapp-icon{
    padding: 0.3rem;
    border-radius: 5px;
    border: 2px solid rgb(9, 189, 54);
}
.sub-2-fundraiser{
    padding: 0.3rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    color: cadetblue;
    border-radius: 5px;
    font-weight:700;
    border: 2px solid rgb(9, 189, 54);
}
.container-sub-1-of-sub-1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.my-logo{
    height: 3rem;
    width: 7rem;
}
.container-2{
    /* position: relative; */
}
.need-funds-heading-main{
    width: 50%;
    position: absolute;
    top: 6rem;
    z-index: 999;
    left: 50%;
    /* border: 2px solid red; */
    
}
.plateform-donor-fundraiser{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 2px solid blue; */
    padding: 0.5rem;
}
.percentage p{
    font-weight: 600;
    font-size: 1.3rem;
    color: cadetblue;
}
.need-funds-heading{
    width: 90%;
    font-weight: 600;
    /* border: 2px solid pink; */
}
.need-funds-heading h1{
    font-size: 2.5rem;
}
.life-raiserfee{
    line-height: 2.5rem;
}

.float-donate-monthly-image{
    width: 60%;
    margin: auto;
    padding: 0.6rem;
    position: absolute;
    top: 29.4rem;
    left: 25%;
    border-radius: 10px;
    background-color: aliceblue;
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: 1px 1px 20px;
     /* border: 2px solid red; */

}
.image img{
    width: 7rem;
    height: 9rem;
}
.donate{
    width: 24%;
    border: 1px solid black;
    padding: 0.9rem;
    margin-left: 1.4rem;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.727);
    text-align: center;
}
.monthly-donation-text{
    margin-left: 2rem;
}
.monthly-donation{
    width: 76%;
    font-size: x-large;
    font-weight: 600;
    /* border: 1px solid black; */
}
.text{
    width: 76%;
    /* border: 1px solid black; */
}
.image{
    margin-left: -7rem;
    /* border: 1px solid black; */
}
.container-3{
    border: 1px solid red;
}
.trending-fundraiser{
    position: relative;
    top: 12rem;
    left: 35%;
}
.trending-fundraiser h1{
    font-size: 4rem;
    font-weight: 700;
}
.trending-fundraiser p{
    font-size: 1.3rem;
}
.container-4{
    padding: 2.5rem;
    /* border: 1px solid green; */
}
.three-simple-steps{
    /* border: 1px solid red; */
    width: 55%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    font-size: 2.7rem;
    font-weight: 600;
}
.three-step-mobile{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    /* border: 1px solid red; */
}
.three-step{
    width: 35%;
    /* border: 1px solid green; */
}
.start-icon-text{
    width: 100%;
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.start{
    font-size: 1.7rem;
    color: cadetblue;
}
.start-text{
    width: 79%;
}
.share-text,.withdraw-text{
    width:75%;
}
.fund--talk{
    /* border: 2px solid blue; */
    padding: 2rem;
}
.start-fund-button{
    /* bg-cyan-300 p-2 */
    background-color: skyblue;
    padding: 1rem;
    text-align: center;
    color: white;
    font-weight: 500;
    border-radius: 5px;
}
.talk-button{
    /* text-blue-300 p-2 border-2 pl-16 pr-16 */
    color:cadetblue;
    padding: 0.7rem;
    padding-left: 4rem;
    padding-right: 4rem;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.613);
    box-shadow: 2px 2px 5px;
}
.start-fund-and-talk-button{
    width: 40%;
    margin: auto;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media (max-width:440px){
    
}
    
