*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
.container-1{
    width: 100vw;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    border: 1px solid green;
}
.container-sub-1{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid blue; */
}
.container-sub-1-of-sub-1{
    box-sizing: border-box;
    padding: 0.5rem;
}
#choose{
  width: 7.5rem;
}
.container-sub-2{
    width: 50%;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid palegreen; */
}

.whatsapp-fundraiser-sign{
    width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid rgb(16, 10, 93); */
}
.sub-2-whatsapp-icon{
    padding: 0.3rem;
    border-radius: 5px;
    border: 2px solid rgb(9, 189, 54);
}
.sub-2-fundraiser{
    padding: 0.3rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    color: cadetblue;
    border-radius: 5px;
    font-weight:700;
    border: 2px solid rgb(9, 189, 54);
}
.container-sub-1-of-sub-1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.my-logo{
    height: 3rem;
    width: 4.5rem;
}
