@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
.container-1{
    width: 100vw;
    display: flex;
    flex-direction: row;
    border: 10px solid green;
}
.container-sub-1{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 3px solid blue;
}
.container-sub-2{
    width: 50%;
    border: 3px solid palegreen;
}
.container-sub-1-of-sub-1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.my-logo{
    height: 3.7rem;
    width: 4.5rem;
}
.search-icon{
    color: brown;
}
.search{
    color: brown;
}