<!doctype html>
                        <html>
                            <head>
                                <meta charset='utf-8'>
                                <meta name='viewport' content='width=device-width, initial-scale=1'>
                                <title>Snippet - GoSNippets</title>
                                <link href='https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css' rel='stylesheet'>
                                <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css' rel='stylesheet'>
                                <style>

                                    .btn1{
                                        border: none;
                                        background-color: rgb(1, 191, 189);
                                        color: white;
                                        border-radius: 4px;
                                        font-size: 14px;
                                        padding-left: 16px;
                                        padding-right: 16px;
                                        padding-top: 8px;
                                        padding-bottom: 8px;
                                        outline-color: rgb(255, 255, 255);
                                        font-family: sans-serif;
                                    }
                                    .card{
                                        height: 500px;
                                    }
                                </style>
                                <script type='text/javascript' src=''></script>
                                <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js'></script>
                                <script type='text/javascript' src='https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js'></script>
                            </head>
                            <body oncontextmenu='return false' class='snippet-body'>
                            <section class="pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1 class="mb-3" style="text-align: center; font-family: sans-serif; font-size: 36px; font-weight: 700;">Trending Fundraisers</h1>
            </div><br><br>
            <div class="col-6 text-right">
                <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
            <div class="col-12">
                <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">

                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="./images/w6xVhVn04sG8idAEVoGvfouV9ulN0AH0Y9A5DbNR.avif">
                                        <div class="card-body">
                                            <h4 class="card-title">Help Save Little Rudra's Life From Leukaemia!</h4>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                        <button class="btn1">Donate</button>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="./images/wid627fff291f29d.avif">
                                        <div class="card-body">
                                            <h4 class="card-title">School for special needs</h4>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                            <button class="btn1">Donate</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="./images/wid65ba666ccca03.avif">
                                        <div class="card-body">
                                            <h4 class="card-title">Urgent Help Needed: Save My Father from Colon Cancer</h4>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                            <button class="btn1">Donate</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">

                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="./images/wid65db724e06aa2.avif">
                                        <div class="card-body">
                                            <h4 class="card-title">My Mother Is Fighting for Her Life And We Need Your Support To Save Her</h4>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                            <button class="btn1">Donate</button>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="./images/wid66057c061843d.avif">
                                        <div class="card-body">
                                            <h4 class="card-title">Help Save My Brother Samrat Awasthi(Shubham Awasthi): Your Support Can Make All the Difference</h4>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                            <button class="btn1">Donate</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="./images/wid65f07a3de12b2.avif">
                                        <div class="card-body">
                                            <h4 class="card-title">Nine-month-old Aklimja Beypi Seeks Your Precious Support for a Brighter Tomorrow!</h4>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                            <button class="btn1">Donate</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section _ngcontent-my-app-c63="" class="why-Life Raiser">
    <div _ngcontent-my-app-c63="" class="container">
        <h2 _ngcontent-my-app-c63="">Why Life Raiser?</h2>
    </div>
</section>


<section>
    <h3 style="text-align: center;">Success Stories</h3><br><br>
    <div class="stories" style="height: 380px; border: 1px solid;margin-left: 120px; margin-right: 120px; display: flex; flex-wrap: wrap; gap: 50px; flex-direction: column;">
         <div class="img">
            <img src="./images/bachha.avif" alt="">
         </div>
         <div class="content" style="padding: 20px;">
            <h2>Heroes like you helped my son win his battle.</h2>
            <div class="para" style="padding: 50px;"><p>“May Allah bless you all! Thanks to your generous donations, Afzal underwent a successful BMT to treat thalassemia major. We are eternally grateful to you all for gifting our little bundle of joy a second chance at life!” -Reshma (Mother)</p></div>
         </div>
    </div>
</section><br><br>
                            <script type='text/javascript'></script>
                            </body>
                        </html>